@import '../../theme.scss';

.scroll_to_top_btn {
    position        : fixed;
    bottom          : 20px;
    right           : 5px;
    width           : 35px;
    height          : 35px;
    border-radius   : 6px;
    background-color: $primaryColor;
    color           : $white;
    border          : none;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
    z-index         : 10000;
    transition      : all 0.3s ease;
    font-size: 15px;

    &:hover {
        opacity  : 0.85;
        transform: translateY(-3px);
    }
}