@import '../../theme.scss';

.scroll_to_top_btn {
    position        : fixed;
    bottom          : 40px;
    right           : 40px;
    width           : 45px;
    height          : 45px;
    border-radius   : 6px;
    background-color: $primaryColor;
    color           : $white;
    border          : none;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor          : pointer;
    z-index         : 999;
    transition      : all 0.3s ease;

    &:hover {
        opacity  : 0.85;
        transform: translateY(-3px);
    }
}