@import "../../theme.scss";

.table_header {
    font-weight  : 600;
    padding      : 10px 0;
    margin-bottom: 8px;
}

.product_row {
    padding      : 16px 0;

    &:last-child {
        border-bottom: none;
    }
}

.img_container {
    width      : 70px;
    height     : 70px;
    min-width  : 70px;
    position   : relative;
    flex-shrink: 0;

    .product_img {
        width        : 100%;
        height       : 100%;
        object-fit   : cover;
        border-radius: 4px;
    }

    .cross_icon {
        position: absolute;
        top     : -10px;
        left    : -10px;
        z-index : 100;
        cursor  : pointer;
    }
}

.product_name {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
    max-width    : 180px;

    @media (max-width: 576px) {
        max-width: 130px;
    }
}

.mobile_label {
    font-size     : 11px;
    color         : $darkGray;
    font-weight   : 600;
    text-transform: uppercase;
    margin-bottom : 3px;
}

.checkout_summary {
    border       : 1px solid $dark;
    border-radius: 4px;
    padding      : 10px 15px;
}

.summary_wrapper {
    width: 100%;

    @media (min-width: 576px) {
        width: 400px;
    }
}