@import '../../theme.scss';

.product_card_container {
    border: 2px solid $borderGray;
    width : 100%;

    .card_img_container {
        height          : 250px;
        background-color: $lightGray2;
        display         : flex;
        justify-content : center;
        align-items     : center;
        overflow        : hidden;

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }
    }

    .card_content {
        padding: 10px;

        .card_details {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            h6 {
                font-weight: 600;
                margin     : 0;
            }

            img {
                width : 25px;
                cursor: pointer;
            }
        }

        p {
            color      : $primaryColor !important;
            font-weight: 600;
            padding    : 0;
            margin     : 0;
        }
    }
}


.best_product_section {
    min-height: 60vh;
}

.search_result_text {
    margin-top: 5px;
    font-size : 15px;
    color     : $lightGray;

    strong {
        color: $primaryColor;
    }
}

.category_filters {
    display   : flex;
    gap       : 15px;
    flex-wrap : wrap;
    margin-top: 5px;

    .filter_btn {
        padding      : 8px 20px;
        border-radius: 4px;
        border       : 1px solid $darkGray;
        background   : transparent;
        cursor       : pointer;
        font-size    : 14px;
        transition   : all 0.2s ease;

        &:hover {
            background-color: $primaryColor;
            color           : $white;
        }

        &.active {
            background-color: $primaryColor;
            color           : $white;
            border          : 1px solid $lightGray;
            font-weight     : 600;
        }
    }
}

.products_grid {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 16px;
    margin-top     : 15px;

    @media (min-width: 768px) {
        justify-content: space-between;
    }
}

.no_results {
    margin-top: 3rem;
    text-align: center;
    width     : 100%;
    color     : $darkGray;
    font-size : 16px;

    strong {
        color: $primaryColor;
    }
}